body{
    background-color: black;
}

.ofertas_Carrosel{
    text-align: center;
    opacity: 0.9;
    padding-right: 0px;
    padding-left: 0px;
}


.btn{

    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    border: 2px solid gray;
}

.btn:hover{

    background-color: black;
    color: white;
    border: 2px solid white;
}

div .car2 {
    padding-left: 30%;
    padding-right: 30%;
}


.seccion{
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    font-family:"Times New Roman";
    font-size: 25px;
    color: white;
    background-color: rgb(87, 99, 112);
    border: 2px solid gray;

}

.seccion:hover{
    background-color: white;
    color: black;


}

.menu{
    background-color:rgb(94, 109, 123);
    color:white;

}

.Section_Panel{
    background-color:rgb(94, 109, 123);
}

h1{
    height: 100%;
    text-align: center;
    font-size: 50px;
    color: white;
    padding-top: 4%;

}

.titulo2{
    padding-bottom: 4%;
}

.Car_Ofe , .paneles{
    background-color:rgb(84, 101, 118);
}
.logo{
    padding-left: 0px;
    padding-right: 0px;

}